<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    
  
  <connectionStrings>

  </connectionStrings>
-->

  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider" xdt:Transform="Replace">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/CluaOGZuAfqlWJvE0YMx1RFqfBSItrcEswM9IzYld0F3XJCh/W0EVmw1bI52ZKXiQhkdEHBWyKGLaPXvY7kYShar5Z/M4Y7OBWjHN1Q1LmpkOpQsF3HZe/qDHxlWspJQgZXsGOgR9j4uFEPQ24hbTUpe9Exc4IFzPHM6PDR56kXDlma3ewtQ9OWGlgINGYEcq1EBstMryEw4MN18KV292BZfhPbGfkyOyg+swl0+x1Z9NkHwzL4VfIIem6/fJeFP3k5tSAqdEAJSvDHCXEiCln6AMdX1NPq3yv1k+GLFXrIg4Kz6GWAWC4bkxCIIAtxC3lxdnNoopYIeS5FCReyNxdPO8ReEvjOKW8pNJwQlPq7CVUPpHBJIAln0V5QLLjwIEwDM/IFxbqmdNi8b5bsZgXZqOh3leTiKVY/9LyU3J7JvVA5TvByS5oGoK/aTk3Lo6oUN07IdEfWdGLenA+dSsc1TyB15fzr9qmClQrK0wuuznPhiycmNpEPfQUGIN2GzBhfaMESajWo7biR/HCQ+sKf3Tooa+9E9jUWYQRswI+bBygGZFVLfCSa8eYo0+4xbmw9yCG91aNwFQMtuGEThw8pQSXXUlLKb2fANPcLZGvHiPv9uZ70RjvkwU9lpZr7muRDJX6Wm5qGri91l9JOtCEhelBrXqMJOUPNaSj0JQWUtCuGjk+PK0kaOH1NowQ1o3gGIFkXLFAAAAHIR+tf2KnzygTQEtOATun3ZBFzR</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>